@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Produc List";
}

<div class="row w-100 justify-content-end">
    <a asp-controller="Product" asp-action="ProductAdd" role="button" class="btn text-light bg-success">Add New Party</a>
</div>
<table class="mt-3 table table-striped">
    <thead class="bg-primary text-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Product_id</th>
                <td>@product.Product_name</td>
                <td class="text-center">
                    <a asp-controller="Product" 
                       asp-action="ProductEdit" 
                       asp-route-Product_id="@product.Product_id" 
                       asp-route-Product_name="@product.Product_name" class="btn btn-primary">Edit</a>
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-Product_id="@product.Product_id" role="button" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>