@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Product List";
}

<div class="row w-100 justify-content-end">
    <a asp-controller="Product" asp-action="ProductAdd" role="button" class="btn text-light btn-success"><i class="bi bi-plus-circle"></i> Add New Product</a>
</div>
<table class="mt-3 table table-striped">
    <thead class="bg-primary text-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Product_id</th>
                <td>@product.Product_name</td>
                <td class="text-center">
                    <a asp-controller="Product" 
                       asp-action="ProductEdit" 
                       asp-route-Product_id="@product.Product_id" 
                       asp-route-Product_name="@product.Product_name" class="btn btn-Edit"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-Product_id="@product.Product_id" role="button" class="btn btn-danger" onclick="return confirm('Are you sure You want to delete this Product?\n If There is a Rate assigned to it that and its assigned parties will also be deleted.')"><i class="bi-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>