@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    string ActivePg(string str)
    {
        var isActive = str.Equals(controller);
        if (isActive)
        {
            return "nav-item active";
        }
        else
        {
            return "nav-item";
        }
    }
}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid w-75">
            <div class="navbar navbar-expand-sm" id="navbarNavAltMarkup">
                <a class="navbar-brand" asp-controller="Party" asp-action="PartyList">Invoice Module</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="@ActivePg("Party")"><a class="nav-link" asp-controller="Party" asp-action="PartyList">Party</a></li>
                    <li class="@ActivePg("Product")"><a class="nav-link" asp-controller="Product" asp-action="ProductList">Product</a></li>
                    <li class="@ActivePg("AssignParty")"><a class="nav-link" asp-controller="AssignParty" asp-action="AssignPartyList">Assign Party</a></li>
                    <li class="@ActivePg("ProductRate")"><a class="nav-link" asp-controller="ProductRate" asp-action="ProductRateList">Product Rate</a></li>
                    <li class="@ActivePg("Invoice")"><a class="nav-link" asp-controller="Invoice" asp-action="Index">Invoice</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>