@model IEnumerable<AssignPartyModel>
@{
    ViewData["Title"] = "Assign Party List";
}

<div class="row w-100 justify-content-end">
    <a asp-controller="AssignParty" asp-action="AssignPartyAdd" role="button" class="btn text-light btn-success"><i class="bi bi-plus-circle"></i> Assign New Party</a>
</div>
<table class="mt-3 table table-striped">
    <thead class="bg-primary text-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Party</th>
            <th scope="col">Product</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assign in Model)
        {
            <tr>
                <th scope="row">@assign.Assign_id</th>
                <td>@assign.Party_tbl.Party_name</td>
                <td>@assign.Product_tbl.Product_name</td>
                <td class="text-center">
                    <a asp-controller="AssignParty" 
                       asp-action="AssignPartyEdit" 
                       asp-route-Assign_id="@assign.Assign_id" 
                       asp-route-Party_id="@assign.Party_id" 
                       asp-route-Product_id="@assign.Product_id" class="btn btn-Edit"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-controller="AssignParty" asp-action="DeleteAssign" asp-route-Assign_id="@assign.Assign_id" role="button" class="btn btn-danger" onclick="return confirm('Are you sure You want to delete this Record?')"><i class="bi-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>